.container{
    border:1px solid red;
    padding:1rem;
}

.title{
    text-align: center;
    text-decoration: blue underline;
    color:green;
}
.articles{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

@mixin articles-properties($color, $font-size:1rem, $border-color){
    color:$color;
    font-size: $font-size;
    border:1px solid $border-color;
    text-align: center;
    padding:0.5rem;
}

.red{
    @include articles-properties(red, 1rem, green);
}

.blue{
    @include articles-properties(blue, 1rem, green);
}

.footer{
    @include articles-properties(green, 24px, blue);
    margin-top: 1rem;
}